<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chats Application</title>
   <link rel="stylesheet" href="style.css">
</head>
<body>
   <h3>All chats</h3>
   <form action="/chats/new" method="GET">
    <button type="submit">New Chat</button>
   </form>
   <br><br>
  <%for(let chat of Allchats){ %>
<div class ="chat">
    <p><i>From</i> : <%= chat.from %> </p>
    <div class="msg">
             <p> <%= chat.msg %> </p>
             <form action="/chats/<%= chat._id %>/edit" method="GET">
             <button type="submit" class="btn">Edit</button>
                </form>
<br>
            <form action="/chats/<%= chat._id %>?_method=DELETE" method="POST">
             <button type="submit" class="btn">Delete</button>
                </form>
    </div>
    <p><i>Received By</i> : <%= chat.to %> </p>
    <hr>
    <p> <%= chat.create_at.toString().split(" ")[4] %> </p>
    <p> <%= chat.create_at.toString().split(" ").slice(0,4).join("-") %> </p>
</div>
<br><br>
<% } %>
</body>
</html>

